.backdrop-modal-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility var(--transition-dur-and-fanc), opacity var(--transition-dur-and-fanc);
}

.modal-video {
  position: absolute;
  top: 50%;

  width: 568px;
  height: 449px;
  background-color: rgb(255, 255, 255);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
}
.modal-clous__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: fill var(--transition-dur-and-fanc);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.terms-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form__titel {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--primary-text-color-dark);
  margin-bottom: 12px;
}
.model-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__fild {
  margin-bottom: 10px;
}
.modal-form__check-text {
  margin-bottom: 20px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-fanc);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
.modal-form__fild-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color-dark);
  margin-bottom: 4px;
}
.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color-dark);
  transition: fill var(--transition-dur-and-fanc);

  .modal-form__input:focus + & {
    fill: var(--backgraund-color-btn);
  }
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-dur-and-fanc);
  resize: none;

  &:placeholder-shown {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__check-fild {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.modal-form__check {
  appearance: none;
}
.modal-form__own-checkbox {
  border: 1px solid var(--primary-text-color-dark);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  transition: backgraund-color-btn var(--transition-dur-and-fanc);

  .modal-form__check:checked + & {
    background-color: var(--accent-color);
  }
}
.modal-form__own-checkbox-icon {
  display: none;
  fill: var(--border-color);
  .modal-form__check:checked + .modal-form__own-checkbox & {
    display: block;
  }
}

.modal-form__sumbit {
  position: relative;
  min-width: 200px;
  height: 50px;
  align-self: center;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-light);
  transition: background-color var(--transition-dur-and-fanc);
  &:hover,
  &:focus {
    background-color: var(--accent-backgraund-color-btn);
  }
}
