.contacts {
  background-color: #84a178;
}
.contact-cards {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}

.contact-card {
  padding: 40px;
  width: 368px;
  font-style: normal;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.contact-btn {
  width: 196px;
  padding: 12px 0;
  border-radius: 10px;
  background-color: #f8d24e;
  margin: 0;

  &:hover {
    background-color: #0A8817;
    cursor: pointer;
  }
    &:focus{
      color: #FFFFFF;
    }
}
.contact-btn-fran {
  width: 196px;
  padding: 12px 0;
  border-radius: 10px;
  border: 2px solid #F8D24E;
  background-color: #84a178;
  margin: 0;

  &:hover {
    border: 2px solid #0A8817;
    cursor: pointer;
  }

  &:focus {
    border: 2px solid #0A8817;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 767px) {
  .contact-card:first-child {
    margin-top: -345px;
  }
}

@media screen and (min-width: 768px) {
  .contact-card {
    margin-top: -304px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-card {
    margin-top: -96px;
  }
}

.address-box {
  padding: 32px 0;
  border-bottom: 1px solid #e1e1e1;
}
.address {
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: #d6936d;
  text-decoration: none;
}
.address:hover {
  text-decoration: underline;
}
.contact-card-title,
.city,
.workday,
.worktime {
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #131313;
}
.contact-card-title {
  display: inline;
  padding: 5px;
  text-transform: uppercase;
  background: #f8d24e;
  border-radius: 6px;
}
.city {
  margin-bottom: 8px;
}
.workdays {
  padding: 32px 0;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 32px;
}
.worktime {
  color: #ababab;
}
.contact-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  color: #131313;
}
.contact-tel,
.contact-mail {
  color: #131313;
  text-decoration: none;
}
.contact-btns {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.contact-btn {
  width: 196px;
  padding: 12px 0;
  border-radius: 10px;
  background-color: #f8d24e;
  margin: 0;
  &:hover,
  &:focus {
    background-color: #0A8817;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .contact-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 32px;
  }
  .contact-card {
    padding: 40px 32px;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }
  .contact-card-title,
  .city,
  .workday,
  .worktime {
    font-size: 12px;
    line-height: 183%;
  }
  .address {
    font-size: 12px;
  }
  .address-box {
    padding: 0 0 24px 0;
  }
  .contact-card-title {
    display: block;
    margin-bottom: 20px;
  }
  .workdays {
    padding: 24px 0;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 24px;
  }
  .contact-items {
    font-size: 12px;
  }
  .contact-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .contact-btn {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .contact-card {
    padding: 40px 24px;
    width: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-card {
    padding: 40px;
    width: 368px;
  }
}

.contacts {
  padding-top: 0px;
  background-color: var(--accent-color);
}
