:root {
    --main-font-darkcolor: #131313;
    --main-font-ligthcolor: #FCFCFC;
    
    --bgr-colorcard-first: #AEC6A5;
    --bgr-colorcard-second: #EFD478;
    --bgr-colorcard-third: #D6936D;
    --accent-color:#9cbe8f;
    --modal-button-color:#f8d24e;
    --input-border-color:#84a178;
    --modal-input-background: rgba(248, 210, 78, 0.1);
    --bgr-advantage-icon: #F8D24E;
    --color-animation-text: #eed789;

  --main-font-darkcolor: #131313;
  --main-font-ligthcolor: #fcfcfc;

  --bgr-colorcard-first: #aec6a5;
  --bgr-colorcard-second: #efd478;
  --bgr-colorcard-third: #d6936d;

  --accent-color: #84A178;
}
