:root {
  --bgr-advantage-icon: #f8d24e;
  --color-animation-text: #eed789;

  --main-font-darkcolor: #131313;
  --main-font-ligthcolor: #fcfcfc;

  --bgr-colorcard-first: #aec6a5;
  --bgr-colorcard-second: #efd478;
  --bgr-colorcard-third: #d6936d;
  --accent-color: #9cbe8f;
  --modal-button-color: #f8d24e;
  --input-border-color: #84a178;
  --modal-input-background: rgba(248, 210, 78, 0.1);

  --accent-color: #84a178;

  --bgr-button-greencolor: #0a8817;

  --transition-duration-and-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
