<section class="section about">
  <div class="container">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__content">
      <div class="about__img"></div>
      <div class="about__text-wrap">
        <ul class="about__text-list list">
          <li class="about__text-item">
            <p>
              Ice is a place where you will become not only a little happier,
              but also healthier. Health is the main value for us, and we follow
              it when creating our handmade desserts.
            </p>
          </li>
          <li class="about__text-item">
            <p>
              We use traditional recipes and 100% natural ingredients. Our
              products are so natural that they can be given to children from
              the age of three years. Sweets lovers can expect 55 types of ice
              cream, 15 types of coffee and 23 milkshakes.
            </p>
          </li>
          <li class="about__text-item about__text-item--hidden">
            <p>This is enough to choose ice cream and coffee for any mood!</p>
          </li>
        </ul>
        <button class="about__button data-modal-open">
          Read more
          <svg class="about__icon">
            <use href="./images/sprite.svg#icon-peak"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="backdrop-modal-video is-hidden" data-modal>
    <div>
      <div class="modal-video">
        <button class="modal-video__close-btn" data-modal-close>
          <svg class="modal-video__close-icon" width="20" height="20">
            <use href="./images/icons.svg#modal-video__close-icon"></use>
          </svg>
        </button>
        <div class="modal-video__caption-flex">
          <h3 class="modal-video__caption">How it’s made?</h3>
        </div>
        <div class="player">
          <iframe
            class="modal-video__player"
            src="https://www.youtube.com/embed/NsSsqyzXL4c"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

        <p class="modal-video__titel">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et
        </p>
      </div>
    </div>
  </div>
</section>
