<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <address>
      <ul class="contact-cards">
        <li class="contact-card">
          <p class="contact-card-title">Cafe</p>
          <div class="address-box">
            <p class="city">Chicago</p>
            <a
              href="https://www.google.com/maps/@50.401699,30.252512,10z"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="address"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </div>
          <ul class="workdays">
            <li>
              <p class="workday">Monday - Friday</p>
              <p class="worktime">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="workday">Saturday - Sunday</p>
              <p class="worktime">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact-items">
            <li class="contact-item">
              <a href="tel:+610383766284" class="contact-tel"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contact-mail"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contact-card">
          <p class="contact-card-title">Food truck</p>
          <div class="address-box">
            <p class="city">Los Angeles</p>
            <a
              href="https://www.google.com/maps/@50.401699,30.252512,10z"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="address"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </div>
          <ul class="workdays">
            <li>
              <p class="workday">Monday - Friday</p>
              <p class="worktime">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="workday">Saturday - Sunday</p>
              <p class="worktime">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact-items">
            <li class="contact-item">
              <a href="tel:+610383766284" class="contact-tel"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contact-mail"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contact-card">
          <p class="contact-card-title">Cafe</p>
          <div class="address-box">
            <p class="city">New York</p>
            <a
              href="https://www.google.com/maps/@50.401699,30.252512,10z"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="address"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </div>
          <ul class="workdays">
            <li>
              <p class="workday">Monday - Friday</p>
              <p class="worktime">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="workday">Saturday - Sunday</p>
              <p class="worktime">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact-items">
            <li class="contact-item">
              <a href="tel:+610383766284" class="contact-tel"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contact-mail"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </address>
    <div class="contact-btns">
      <button type="button" class="contact-btn js-open-modal" data-modal="3">Our Locations &nbsp;></button>
      <button type="button" class="contact-btn-fran js-open-modal" data-modal="4">Franchise &nbsp; ></button>
    </div>
  </div>
  </div>
</section>
