
<section class="customer-reviews ">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="reviews__swiper swiper">
      <ul class="reviews__swiper-wrapper swiper-wrapper">
        <li class="reviews__swiper-slide swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer-1.webp    1x,
                ./images/customer-1@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./images/customer-1.jpg    1x,
                ./images/customer-1@2x.jpg 2x
              " />
            <img
              src="./images/customer-1.jpg"
              alt="Customer 1 photo"
              class="review__customer-img"
          /></picture>
          <div class="review__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </div>
          <p class="review__customer-id">Emily, Los Angeles</p>
        </li>
        <li class="reviews__swiper-slide swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer-2.webp    1x,
                ./images/customer-2@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./images/customer-2.jpg    1x,
                ./images/customer-2@2x.jpg 2x
              " />
            <img
              src="./images/customer-2.jpg"
              alt="Customer 2 photo"
              class="review__customer-img"
          /></picture>
          <div class="review__text">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </div>
          <p class="review__customer-id">Sam, Los Angeles</p>
        </li>
        <li class="reviews__swiper-slide swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer-3.webp    1x,
                ./images/customer-3@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./images/customer-3.jpg    1x,
                ./images/customer-3@2x.jpg 2x
              " />
            <img
              src="./images/customer-3.jpg"
              alt="Customer 3 photo"
              class="review__customer-img"
          /></picture>
          <div class="review__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </div>
          <p class="review__customer-id">Diana, Chicago</p>
        </li>
        <li class="reviews__swiper-slide swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer-4.webp    1x,
                ./images/customer-4@2x.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./images/customer-4.jpg    1x,
                ./images/customer-4@2x.jpg 2x
              " />
            <img
              src="./images/customer-4.jpg"
              alt="Customer 4 photo"
              class="review__customer-img"
          /></picture>
          <div class="review__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </div>
          <p class="review__customer-id">Bryan, New-York</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>