<footer class="footer-page">
  <div class="flex container">
        <div>
        <ul class="footer-caption">
          <li class="slogan-item">homemade ice cream <br class="desktop-br">made </li>
          <li class="caption-item">with <br class="desktop-br"> passion</li>
          </div>
      <div class="social-media">
        <ul class="social-list">
          <li class="list-link">
            <a href="https://github.com/" target="_blank" class="icon-link">
            <svg lang="en" aria-label="github icon" class="social-icon" >
              <use href="/src/images/icons.svg#icon-github"></use>
            </svg></a>
          </li>
          <li class="list-link">
            <a href="https://telegram.org/" target="_blank" class="icon-link">
            <svg lang="en" aria-label="telegram icon" class="social-icon" >
              <use href="/src/images/icons.svg#icon-telegram"></use>
            </svg></a>
          </li>
          <li class="list-link">
            <a href="https://www.facebook.com/" target="_blank" class="icon-link">
            <svg lang="en" aria-label="facebook icon" class="social-icon" >
              <use href="/src/images/icons.svg#icon-facebook"></use>
            </svg></a>
          </li>
        </ul>
            <p class="tel-desc">
              Feel free to contact &nbsp;<a href="tel:+610383766284" class="contact-link">+61 (0) 383 766 284</a>
            </p>
      </div>
    
  
    </div>
    <div class="border copyright">
      <p>© 2022 - IceCream.<br class="tablet-br desktop-br"> All Rights Reserved.</p>
    </div>
  
</footer>
