<footer>
    <div class="container">
        <div class="footer-border">
            <div>
                <ul class="footer-caption">
                    <li class="slogan-item">homemade ice cream made</li>
                    <li class="caption-item">with passion</li>
                </ul>
            </div>
            <div class="social-media">
                <ul class="social-list">
                    <li class="list-link">
                        <svg>
                            <use href="#"></use>
                        </svg>
                    </li>
                    <li class="list-link">
                        <svg>
                            <use href="#"></use>
                        </svg>
                    </li>
                    <li class="list-link">
                        <svg>
                            <use href="#"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="contact-tel">
                <p class="tel-desc">
                    Feel free to contact<a href="tel:+610383766284" class="contact-link">+61 (0) 383 766 284</a>
                </p>
            </div>
        </div>
        <div class="copyright">
            <p>© 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</footer>