<header class="page-header">
    <div class="header container">
        <img  class="header__logo" src="" alt="logo">
        <nav class="menu">
            <ul class="list menu__list">
                <li class="menu__item"><a class="menu__link  link" href="">Home</a></li>
                <li class="menu__item"><a class="menu__link  link" href="">How it’s made?</a></li>          
                <li class="menu__item"><a class="menu__link  link" href="">Our products</a></li>
                <li class="menu__item"><a class="menu__link  link" href="">Contact</a></li>
            </ul>
        </nav>
        <button type="button" class="open-mobile-menu-btn ">
            <svg class="open-mobile-menu-btn__icon" aria-label="кнопка-бургер" width="32" height="32">
                <use href=""></use>
            </svg>
        </button>
        <button type="button" class="header__button">Buy now ></button>

    </div>
    <div class="mobile-menu js-menu-container">
        <div class="container mobile-menu__container">
            <button type="button" class="modal-menu__close-btn ">
                <svg class="modal-menu-close__icon" width="40" height="40">
                  <use href=""></use>
                </svg>
            </button>  
            <ul class="list mobile-menu__list">
                <li class="mobile-menu__item"><a class="mobile-menu__link  link" href="">Home</a></li>
                <li class="mobile-menu__item"><a class="mobile-menu__link  link" href="">How it’s made?</a></li>          
                <li class="mobile-menu__item"><a class="mobile-menu__link  link" href="">Our products</a></li>
                <li class="mobile-menu__item"><a class="mobile-menu__link  link" href="">Contact</a></li>
            </ul>
            <button type="button" class="header__button">Buy now ></button>
        </div>
    </div>
</header>
<main>
    <section class="hero">
        <div class="container">
            <h1 class="hero__tittle">ice cream made with passion</h1>
            <button class="hero__modal-btn" type="button" >Products</button>
            <button class="hero__modal-btn" type="button" >Products</button>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <svg>
                <use href=""></use>
            </svg>
            <img src="" alt="">
            <ul>
                <li>16<span>cafes</span></li>
                <li>23<span>trucks</span></li>
            </ul>
        </div>
    </section>
</main>