<div class="modal modal-video-size" data-modal="5">
  <div class="modal-video">
    <button
      onclick="stopVideo(body)"
      class="modal-video__close-btn js-modal-close"
      type="button"
    >
      <svg lang="en" aria-label="close icon" class="modal-video__close-icon">
        <use href="/src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-video__window">
      <h3 class="modal-video__caption">How it’s made?</h3>

      <div class="player">
        <iframe
          class="modal-video__player"
          src="https://www.youtube.com/embed/NsSsqyzXL4c"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <p class="modal-video__titel">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </div>
  </div>
</div>
