<section class="products-section section" id="products">
  <div class="container">
    <p class="products-subtitle">100% natural</p>
    <h2 class="section-title">Products</h2>
    <ul class="products-list list">
      <li class="products-list__first-wrapper">
        <div class="image__ice-cream"></div>
        <h3 class="products-list__name">ice cream</h3>
        <p class="products-list__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <div>
          <button type="button" class="products-button js-open-modal" data-modal="9">
            <svg class="products-button__icon">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__second-wrapper">
        <div class="image__ice-coffee"></div>
        <h3 class="products-list__name">ice coffee</h3>
        <p class="products-list__description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <div>
          <button type="button" class="products-button js-open-modal" data-modal="9">
            <svg class="products-button__icon">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__third-wrapper">
        <div class="image__milkshakes"></div>
        <h3 class="products-list__name">milkshakes</h3>
        <p class="products-list__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <div>
          <button type="button" class="products-button js-open-modal" data-modal="9">
            <svg class="products-button__icon">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
