.advantages {
    background-color: var(--input-border-color);

    @media screen and (min-width: 768px) {
        padding-top: 53px;
        padding-bottom: 200px;
      }


    @media screen and (min-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 86px;
      }
  }
  .advantages__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 80px;
        margin-left: 76px;
        margin-right: 76px;
        margin-top: 49px;
      }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 32px;
        margin-left: 16px;
        margin-right: 16px;
      }

  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .advantages__icon__first::before {
    content: '';
    background-color: var(--bgr-advantage-icon);
    background-image: url(../images/cow.png);
    border-radius: 50%;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
  }

  .advantages__icon__second::before {
    content: '';
    background-color: var(--bgr-advantage-icon);
    background-image: url(../images/weight.png);
    border-radius: 50%;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
  }
  
  .advantages__icon__third::before {
    content: ' ';
    background-color: var(--bgr-advantage-icon);
    background-image: url(../images/ice_crema.png);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center;
    width: 50px;
    height: 50px;
  }

  .advantages__title {
    margin-top: 40px;
    font-weight: 700;
    font-size: 58px;
    line-height: 1.20;
    color: var(--main-font-ligthcolor);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .advantages__text {
    margin-top: 16px;
    width: 300px;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    color: var(--main-font-ligthcolor);
  }

  .advantages__title:hover {
    animation-name: changeBgColor;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  @keyframes changeBgColor {
    0% {
      color: var(--bgr-advantage-icon);
    }
  
    50% {
      color: var(--color-animation-text);
    }
  
    100% {
      color: var(--bgr-colorcard-third);
    }
  }
  