.customer-reviews {
  padding-top: 80px;
  padding-bottom: 394px;
}

@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-top: 60px;
    padding-bottom: 384px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-reviews {
    padding-top: 128px;
    padding-bottom: 196px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.reviews__swiper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .reviews__swiper {
    gap: 32px;
  }
}

.reviews__swiper-slide {
  width: 100%;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.review__customer-img {
  width: 85px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.review__text {
  padding: 34px 39px;
  background-color: var(--accent-color);
  border-radius: 10px;
  font-size: 16px;
  line-height: 2.55;
  text-align: center;
  color: var(--main-font-ligthcolor);
}

.review__customer-id {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  color: var(--main-font-darkcolor);
}

@media screen and (min-width: 768px) {
  .reviews__swiper-slide {
    padding: 0 16px;
  }

  .review__text {
    padding: 29px 80px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
  }

  .review__customer-id {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews__swiper-slide {
    padding: 0 100px;
  }

  .review__text {
    padding: 39px 73px;
    font-size: 16px;
  }
}

.swiper-pagination {
  position: relative;
}

.reviews__swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--accent-color);
}
