.page-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    
}
@media screen and (max-width: 767px) {
    .buy-button {
        display: none;
    }
    .menu {
        display: none;
    }
    
    .open-mobile-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }
    .header__modal-button {
        display: none;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
     }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .menu {
        display: none;
    }
    .open-mobile-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }
    .buy-button {
        background-color: #F8D24E;
        border-radius: 10px;
        border: none;
        height: 42px;
        width: 152px;
        color: #131313;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.21;
        padding: 12px 34px;
        transition: background-color var(--transition-duration-and-timing-function), color var(--transition-duration-and-timing-function);
        &:hover {
            background-color: #0A8817;
        }
        &:focus {
            background-color: #0A8817;
            color: #FCFCFC;
        }
        &:disabled {
            background-color: #ABABAB;
        }
    }
    .menu__tablet {
        display: flex;
        gap: 32px;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px; 
    }
}

@media screen and (min-width: 1200px) {
   .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
   }
   .open-mobile-menu-btn {
    display: none;
   }
   .menu__list {
    display: flex;
    gap: 27px;
    align-items: center;
    
   }
   .menu__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FCFCFC;
    line-height: 1.25;
    transition: color var(--transition-duration-and-timing-function);
    &:hover,
    &:focus {
        transition: color var(--transition-duration-and-timing-function);
        color: #F8D24E;
    }
   }
    .buy-button {
        background-color: #F8D24E;
        border-radius: 10px;
        border: none;
        height: 42px;
        width: 152px;
        color: #131313;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.21;
        padding: 12px 34px;
        transition: background-color var(--transition-duration-and-timing-function), color var(--transition-duration-and-timing-function);
        &:hover {
            background-color: #0A8817;
        }
        &:focus {
            background-color: #0A8817;
            color: #FCFCFC;
        }
        &:disabled {
            background-color: #ABABAB;
        }
    }
    
}